@model IEnumerable<Store.Models.CartLine>

<table>

@foreach (var item in ViewBag.List) {
    <tr>
        <td>
            @item.Product.Name
        </td>
        <td>
            @item.Quantity
        </td>
        
    </tr>
}

</table>
