@{
    ViewBag.Title = "Home Page";
}

<div class="row" width="100%">
    <div class="col-md-2 class="content">
        <a href="@Url.Action("SearchProducts", "Headings", new { id = -1 })" class="button">
            <span>All Products</span>
        </a>
@if (ViewBag.HeadingsList != null)
            {
                foreach (var item in ViewBag.HeadingsList)
                {
        <a href="@Url.Action("SearchProducts", "Headings", new { id = (int)item.Id })" class="button">
            <span>@item.Name</span>
        </a>
    }
}        </div>

        <div class="col-md-6">
            <h2>Приветствуем Вас в интернет-магазине <strong>&quot;ЭКО-ЛАВКА&quot;</strong><b>&nbsp;</b></h2>
            <span style="color: rgb(0, 0, 0);"><span style="font-size: larger;">Мы очень рады Вам и предлагаем широкий выбор экологических товаров:</span></span>
            <ul>
                <li>Ароматные, высокого качества специи и пряности.</li>
                <li>Травы, фиточаи из экологически чистых районов Карпат, которые помимо лечебных свойств имеют великолепный вкус и аромат. &nbsp;</li>
                <li>Натуральные эфирные масла - эффективные и нетоксичные природные средства, польза от которых для человека проверена тысячилетиями.</li>
                <li>Натуральная косметика - это лучший выбор для сохранения Вашей красоты и молодости.&nbsp;</li>
                <li>Средства для волос - шампуни без лаурилсульфата, маски, бальзамы, краски для волос на основе индийской хны, вернут вашим волосам блеск и здоровье.</li>
                <li>Экологически чистые стиральные порошки без фосфатов, мыльные орехи,моющие средства для посуды и уборки в доме, натуральное мыло ручной работы, дезодорант &quot;Кристалл&quot;, товары для детей.</li>
            </ul>
            <span style="color: rgb(0, 0, 0);"><span style="font-size: larger;">Приятных Вам покупок!</span></span>

        </div>

        <div class="col-md-1 col-md-offset-1">
            <form method="post" action="/Home/SearchProducts">
                <table>
                    <tr>
                        <td><input type="text" name="ProdName" /> </td>
                        <td><input type="submit" value="Поиск" /> </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>