<div class="row">
    <div class="col-md-2 class="content">
        @if (ViewBag.HeadingsList != null)
            {
                foreach (var item in ViewBag.HeadingsList)
                {
                <a href="@Url.Action("SearchProducts", "Headings", new { id = (int)item.Id })" class="button">
                    <span>@item.Name</span>
                </a>
            }
        }
    </div>
    <div class="col-md-6">
        <h1 class="cat_title page_title">Оплата и Доставка</h1>
        <div class="page_content cat_descr">
            После получения Вашего заказа,  наш сотрудник в указанное рабочее время свяжется с Вами для согласования условий оплаты и доставки. <br>
            <br>
            <h2>Оплата</h2>
            <ul>
                <li>Банковский перевод на карту Приватбанка (при заказе по Украине) после уточнения наличия товара на складе.&nbsp;</li>
                <li>Оплата при получении товара на складе транспортной компании Новая Почта.</li>
            </ul>
            <h2>&nbsp;</h2>
            <h2>Самовывоз из магазина &quot;ЭКО-ЛАВКА&quot; в г.Черкассы</h2>
            <ul>
                <li>Мы предоставляем Вам возможность самостоятельно забрать товар в нашем магазине по адресу г. Черкассы, ул. Фрунзе 25.</li>
                <li>Выдача заказов по указанному адресу производится только по предварительному звонку и договоренности</li>
                <li>Товар резервируется на 2 дня. Если у Вас не получается забрать Заказ в течение 2 дней с момента размещения, пожалуйста, свяжитесь с нами по телефону, иначе заказ будет отменен.</li>
            </ul>
            <h2>
                <br>
                Доставка по Украине
            </h2>
            Доставка по Украине через перевозчика Новая Почта. Удобный и быстрый способ доставки в любые города Украины.  Посылка доставляется на указанный Вами № склада ТК Новая Почта  в Вашем городе.
            <ul>
                <li><strong>Минимальный заказ для отправки по Украине - 100 грн.</strong></li>
                <li><b>Посылка отправляется после подтверждения факта оплаты на следующий день (утром).</b>&nbsp;&nbsp;</li>
                <li>Товар резервируется на 3 дня. Если в течение трех дней оплата не поступает, заказ анулируется.</li>
                <li>Пересылка заказа по Украине оплачивается покупателем по тарифу компании-перевозчика (сумма пересылки указана в декларации).</li>
                <li>Стоимость доставки зависит от веса заказа и расстояния. Рассчитать стоимость доставки можно самостоятельно на сайте компании &quot;Новая Почта&quot;. В среднем стоимость такой доставки составляет 25-30 грн.</li>
                <li><strong>При доставке заказа наложенным платежом с помощью транспортной компании Новая Почта Вы сможете оплатить заказ непосредственно в момент получения товаров.</strong> Также Вы оплачиваете стоимость доставки груза 25-30 грн. + сумма за доставку денежных средств (20 грн.+2% от стоимости заказа, но не менее 21 грн.)</li>
                <li>Ответственность за целостность и сохранность заказа, пересылаемого курьерской службой, лежит полностью на курьерской службе. Поэтому при отправке заказа данным способом в качестве страховой суммы будет указываться полная стоимость заказа. В случае каких либо проблем, связанных с повреждением посылки и ее содержимого, Вы сможете предьявить претензии курьерской службе и требовать выплаты страховой суммы.&nbsp;</li>
                <li><strong>При оформлении заказа в коментариях к выбранному способу доставки укажите номер или адрес отделения &quot;Новой Почты&quot;, в котором Вы хотите получить заказ.</strong></li>
                <li>О том, что посылка отправлена, Вам сообщит менеджер на электронную почту, либо переслав СМС-сообщение с номером декларации&nbsp;</li>
            </ul>
        </div>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <form method="post" action="/Home/SearchProducts">
            <table>
                <tr>
                    <td><input type="text" name="ProdName" /> </td>
                    <td><input type="submit" value="Поиск" /> </td>
                </tr>
            </table>
        </form>
    </div>
</div>
